[submodule "thirdparty/BBHash"]
	path = thirdparty/BBHash
	url = git@github.com:rizkg/BBHash.git
[submodule "thirdparty/kseqpp"]
	path = thirdparty/kseqpp
	url = git@github.com:cartoonist/kseqpp.git
[submodule "thirdparty/MQF"]
	path = thirdparty/MQF
	url = git@github.com:dib-lab/MQF.git
[submodule "thirdparty/Brisk"]
	path = thirdparty/Brisk
	url = https://github.com/Malfoy/Brisk.git
